.container {
  margin: 1rem 5rem;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.card {
  border: 5px solid salmon;
  padding: 5rem;
}
