.container {
  margin: 1rem 5rem;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border: 5px solid salmon;
  padding: 5rem;
}

.rounded {
  border-radius: 15%;
}
.circle {
  border-radius: 50%;
}

.all-container {
  margin-top: 10rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: antiquewhite;
}
